@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
  font-family: 'Josefin Sans', sans-serif;
}

header {
  background-color: #FF3821;
  padding: 20px 5% 5px;
  color: #fff;
}

h1 {
  font-weight: bolder;
  margin: 0;
  text-align: center;
}

label {
  font-size: 2.4rem;
  font-weight: normal;
}

.controlSec {
  margin: 6vh 0 1vh;
  text-align: center;
}

#inpArr {
  width: 20vw;
  margin: auto;
  background: #FF3821;
  margin-top: 15px;
}
#genArr, #startVis{
  background: #fff;
  color: #FF3821;
  border: 0;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 1.6rem;
  padding: 5px 20px;
}
#inpAlgo {
  width: 20vw;
  color: #FF3821;
  border-radius: 5px;
  padding: 7px 10px 5px;
  font-size: 1.7rem;
  font-weight: bolder;
  text-align: center;
}
.visualizer{
  position: absolute;
  bottom: 0;
  height: 62vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 5vh 10vh 0;
}
